@import "tailwindcss";

@theme {
  /* Premium Palette */
  --color-tydee-indigo: #4f46e5;
  --color-tydee-magenta: #ff00ff;
  --color-tydee-pro: #0000aa;
  --color-tydee-black: #0a0a0a;
  --color-tydee-offwhite: #f8fafc;
}

:root {
  --font-inter: "Inter", sans-serif;
}

body {
  @apply antialiased selection:bg-tydee-indigo selection:text-white bg-white text-tydee-black;
  font-family: var(--font-inter);
}

/* Premium Scrollbar */
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-thumb { background: #4f46e5; border-radius: 10px; }